body,
html {
  height: 100%;
}

body {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #93E1FF;
  /* background-image: url("./resources/img/cover-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

button,
input {
  cursor: pointer;
}

header {
  text-align: center;
}

.main-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 40px;
}

main {
  padding-left: 25%;
  padding-right: 25%;
  margin: 0 auto;
}

.main-body {
  display: none;
  text-align: center;
  /* background-color: rgba(255, 217, 176, 0.3); */
  background-color: rgba(30, 138, 178, 0.3);
  border-radius: 2px;
  width: 100%;
}

/* .main-body h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
} */

legend {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 20px
}

.score-tracker {
  list-style: none;
  padding-left: 0;
  font-size: 24px;
}

.score-tracker li {
  display: inline-block;
}

.score-tracker li:first-child {
  color: green;
}

.score-tracker li:nth-child(2) {
  color: red;
}

.intro-text {
  text-align: center;
}

.intro-text h2 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.start-quiz,
.submit-btn,
.nextQuestion-btn,
.restartQuiz-btn,
.finalScore-btn {
  background-color: #ffd9b0;
  font-weight: 700;
  border: 1px solid #ffc280;
  border-radius: 2px;
  /* cursor: pointer; */
  padding: 10px 30px 10px 30px;
  transition: all .2s;
}

.start-quiz:hover,
.submit-btn:hover,
.nextQuestion-btn:hover,
.restartQuiz-btn:hover,
.finalScore-btn:hover {
  background-color: #ffc280;
}

form {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

fieldset {
  border: none;
}

.form-part {
  /* display: block; */
  text-align: left;
  clear: both;
  /* float: left; */
  /* padding-right: 10px; */
}

label,
fieldset input {
  float: left;
  margin-bottom: 30px;
  margin-top: 10px;
}

label {
  margin-right: 15px;
  width: 100px;
  text-align: left;
  font-size: 18px;
}

fieldset input {
  /* display: inline; */
  /* text-align: left; */
  /* clear: both; */
  width: 16px;
  height: 16px;
}

.submit-btn {
  display: block;
  margin: 0 auto;
  text-align: center;
  margin-top: 15px;
}

/* .correctResponseFeedback p,
.incorrectResponseFeedback p {
  padding-top: 10px;
} */

p {
  font-size: 18px;
  padding-top: 10px;
}

.feedbackImg {
  max-width: 450px;
  width: 100%;
  height: auto;
  /* margin-left: auto;
  margin-right: auto; */
  padding-bottom: 15px;
  padding-top: 15px;
  display: inline-block;
  margin: 0 auto;
}

.correctAnswer-highlight {
  font-weight: 700;
}

.nextQuestion-btn,
.restartQuiz-btn,
.finalScore-btn {
  margin-top: 15px;
  margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
  .main-body {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media screen and (max-width:600px) {
  legend {
    font-size: 20px;
  }
}

@media screen and (max-width: 320px) {
  legend {
    font-size: 16px;
  }
}
